body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Main {
  background-color: #212E53;
  color: white;
}

.Footer {
  background-color: #BB2020;
  color: white;
  font-weight: 700;
  font-family: 'Montserrat';
  font-size:25px;
}

.Heder {
  background-color: white;
  font-weight: 700;
  font-family: 'Montserrat';
  font-size:25px;
  border: #BB2020 5px solid;
}

.Li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  font-size: 22px;
  padding: 10px; 
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
}

/* .CartWitget {
  background-color: #212E53;
  color: #BB2020;
  margin: 10px;
  padding: 10px;
} */

.ImgInicioLogo {
  margin: 40px 40px 0px 40px;
  border-radius: 50px;
  width: 15%;
 
}


.Carrito {
  background-Color:white;
  border: black 5px solid;
  text-Align: center;
  margin: 30px 300px 50px 300px;
  padding: 5px 0px 5px 0px;
}

.ImgProductos {
  margin: 20px;
  width: 45%;
 
}

.cardProductos{
  background-color: #BB2020;
  width: 45%;
  text-Align: center;
  margin: 20px;
}

.tituloProducto {
  color: #212E53;
  text-transform: uppercase;
  padding-top: 20px;
  
}